<ng-container *ngIf="currentItem; then infoItem; else noItem"></ng-container>
  <ng-template #infoItem>
    <h1>{{ larderName }} </h1>
    <mat-form-field class="example-full-width">
        <mat-label>Nazwa Przedmiotu </mat-label>
        <input matInput required placeholder="Nazwa Itemu" [(ngModel)]="currentItem.name">
    </mat-form-field>
        <div *ngIf="showErrorMessage">
            <mat-divider></mat-divider>
                Nie udało się zapisać item.
            <mat-divider></mat-divider>
        </div>
    <mat-form-field class="example-full-width">
    <mat-label>Opis Przedmiotu </mat-label>
      <input matInput placeholder="Description Itemu" [(ngModel)]="currentItem.description">
    </mat-form-field>
    <button mat-raised-button color="warn" (click)="save()">Zapisz</button>
  </ng-template>
  <ng-template #noItem>
    Brak przedmiotu
  </ng-template>

